@{
  Layout = "_Layout";
}

<h1>Welcome to the Factory Manager!</h1>
<hr class="new1"/>
<p>@Html.ActionLink("See all Engineers", "Index", "Engineers")</p>
<hr class="new2"/>
<p>@Html.ActionLink("See all Machines", "Index", "Machines")</p>